.hero {
    background-color: #cfe3e6;
    padding: 40px 20px;
    justify-content: space-between;
    /* FENT + LENT */
    align-items: center;
}

/* felső rész */
.hero-top {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* alsó rész */
.hero-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 40px;
}

.hero-title {
    font-size: 2.8rem;
    font-weight: 600;
    color: #2b2b2b;
    margin-top: 40px;
}

.hero-btn {
    background-color: #1e66d0;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

.hero-btn:hover {
    background-color: #1553ad;
}

.table {
    box-shadow: -10px -5px 40px rgba(56, 56, 56, 0.645);
}

.form {
    font-size: larger;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

input {
    height: 3rem;
    width: 100%;
}

.thermentes {
    align-items: center;
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.thermentes input {
    width: 15px;
}